[project]
name = "mcp-server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiohttp>=3.8.0",
    "fastmcp==2.10.1",
    "openai>=1.93.3",
    "requests>=2.28.0",
]
